<!DOCTYPE html>
<html lang="en">
<body>
<th:block th:fragment="navbarFragment">
    <nav class="navbar navbar-expand-lg shadow-sm">
        <div class="container-fluid px-5">
            <a class="navbar-brand fw-bold" href="/">☕ Cafe Finder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">홈</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">저장한 카페 보기</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/signupAndLogin" id="login-link">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>
