/* Navbar 그라데이션 배경 */
.navbar {
    background: linear-gradient(90deg, rgba(111, 78, 55, 1) 0%, rgba(166, 138, 100, 1) 100%);
}

.navbar-brand {
    font-size: 1.8rem;
    color: #fff !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffd700 !important;
}
