.navbar {
    background: linear-gradient(90deg, rgba(111, 78, 55, 1) 0%, rgba(166, 138, 100, 1) 100%);
}

.navbar-brand {
    font-size: 1.8rem;
    color: #fff !important;
}


.navbar-nav .nav-link {
    color: #f8f9fa !important;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
}

/* 호버 효과 */
.navbar-nav .nav-link:hover {
    color: #ffcc00 !important;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}
